mixin treatment(title, href, price, img)
    .col-lg-4.col-sm-6.mb-4
        .treatment-item
            a.treatment-link(data-toggle='modal', href=href)
                .treatment-hover
                    .treatment-hover-content see more
                img.img-fluid(src=img, alt=title)
            .treatment-caption
                .treatment-caption-heading= title
                .treatment-caption-subheading.text-muted= price

section#treatments.page-section.bg-light
    .container
        .text-center
            h2.section-heading.text-uppercase Treatments
            h3.section-subheading.text-muted We offer a variety of massages to suit your needs.
        .row
            +treatment(
             'Thai Massage', '#thai-massage', 'From $40',
             require('./assets/img/treatments/thai-massage-small.jpg')
            )
            +treatment(
             'Foot Massage', '#foot-massage', 'From $49',
             require('./assets/img/treatments/foot-massage-small.jpg')
            )
            +treatment(
             'Aroma Oil', '#aroma-oil', 'From $49',
             require('./assets/img/treatments/oil-massage-small.jpg')
            )
            +treatment(
             'Hot Stone Massage', '#stone-massage', 'From $55',
             require('./assets/img/treatments/hot-stone-small.jpg')
            )
            +treatment(
             'Deep Tissue', '#deep-tissue', 'From $60',
             require('./assets/img/treatments/deep-tissue-massage-small.jpg')
            )
            +treatment(
             'Remedial Massage', '#remedial-massage', 'From $55',
             require('./assets/img/treatments/remedial-massage-small.jpg')
            )
            +treatment(
             'Body Scrub', '#body-scrub', 'From $60',
             require('./assets/img/treatments/body-scrub-small.jpg')
            )
            +treatment(
             'Facial Massage', '#facial-massage', 'From $50',
             require('./assets/img/treatments/facial-massage-small.jpg')
            )
