mixin modal(title, subtitle, description, id, img, prices)
    .treatment-modal.modal.fade(id=id, tabindex='-1', role='dialog', aria-hidden='true')
        .modal-dialog.full.modal-dialog-scrollable(role='document')
            .modal-content
                .modal-header.justify-content-center
                        h2.text-uppercase= title
                        p.item-intro.text-muted= subtitle
                .modal-body
                    .row.justify-content-center
                        .col-lg-5
                                p= description
                                ul.list-inline
                                    each price, duration in prices
                                        li #{duration} minutes: $#{price}
                        .col-lg-7
                            img.img-fluid.d-block.mx-auto(src=img, alt=title)
                .modal-footer
                    button.btn.btn-primary(data-dismiss='modal', type='button')
                        span.mr-2(aria-hidden=true) &times;
                        | Close

-
    let treatments = [
        {
            title: 'Thai Massage',
            description:
                'Enjoy this oil-free massage with stretching and acupressure techniques.  '
                + 'Your body will be positioned in a veriety of yoga like poses while we apply deep and rhythmic pressure.',
            id: 'thai-massage',
            img: 'assets/img/treatments/thai-massage.jpg',
            prices: {
                30: 40,
                45: 55,
                60: 65,
                90: 95,
                120: 130
            }
        },
        {
            title: 'Foot Massage',
            description:
                'Relieve pain by stimulating pressure points on your feet.'
                + '  Reflexology encourages flow of blood and promotes healing,'
                + ' relieving pain at the root level.',
            id: 'foot-massage',
            img: 'assets/img/treatments/foot-massage.jpg',
            prices: {
                30: 49,
                45: 59,
                60: 69,
                90: 90,
                120: 135
            }
        },
        {
            title: 'Aroma Oil Massage',
            description:
                'This gentle and relaximg massage with aromatic herb balm and essential oils will stimulate various systems'
                + ' in your body to help you rejuvenate, relax, promote sleep and relieve pain througout your body.',
            id: 'aroma-oil',
            img: 'assets/img/treatments/oil-massage.jpg',
            prices: {
                30: 49,
                45: 69,
                60: 79,
                90: 120,
                120: 155
            }
        },
        {
            title: 'Hot Stone Massage',
            description:
                'Relax your muscles and mind using acient techniques of placing smooth heated stones on key points of your body.'
                + '  The heat if the stones will warm your body, releasing all stress and tension.',
            id: 'stone-massage',
            img: 'assets/img/treatments/hot-stone.jpg',
            prices: {
                30: 55,
                45: 70,
                60: 95,
                90: 135,
                120: 170
            }
        },
        {
            title: 'Deep Tissue Massage',
            description:
                'This massage will work on your deep muscle to balance your body structure and remove tension.',
            id: 'deep-tissue',
            img: 'assets/img/treatments/deep-tissue-massage.jpg',
            prices: {
                30: 60,
                45: 75,
                60: 95,
                90: 135,
                120: 175
            }
        },
        {
            title: 'Remedial Massage',
            description:
                'We test your muscles to determine the cause your pain and tailor the treatment to suit.'
                + '  Great for stiff necks, headaches and sport injuries.',
            id: 'remedial-massage',
            img: 'assets/img/treatments/remedial-massage.jpg',
            prices: {
                30: 55,
                45: 70,
                60: 85,
                90: 135,
                120: 170
            }
        },
        {
            title: 'Body Scrub',
            description:
                'Full body exfoliation treatment to remove dead skin cells and stimulate cell renewal.'
                + 'This treatment will leave your body smooth and silky soft.',
            id: 'body-scrub',
            img: 'assets/img/treatments/body-scrub.jpg',
            prices: {
                30: 60,
                45: 75,
                60: 95,
                90: 135
            }
        },
        {
            title: 'Facial Massage',
            description:
             'Give your skin a youthful glow with this anti-aging treatment, helping prevent wrinkles and increase circulation.'
              + '  Can also relieve allergy symptoms and congestion by improving drainage.',
            id: 'facial-massage',
            img: 'assets/img/treatments/facial-massage.jpg',
            prices: {
                30: 50,
                45: 60,
                60: 80,
                90: 100
            }
        },
    ]

each treatment in treatments
    +modal(
     treatment.title, treatment.subtitle,
     treatment.description, treatment.id,
     treatment.img, treatment.prices
    )